<!DOCTYPE html>
<html lang="en">
    <title>
        Sign in 
    </title>

    <h1 style="background-color: #fae29c;">
        <a style="text-decoration: none; color: black;" href="{{ url_for('home_page') }}">
        Website Title
        </a>
        <div style="text-align: right;">
            {{ current_date }}
        </div>
        <div style="text-align: right;"> 
            {{ current_time }}
        </div>
    </h1>

    <div style="background-color: #8DD7BF; display: flex; justify-content: space-evenly">
        If you have an existing account, sign in here!
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    <form method="POST">
        {{ sign_in_form.csrf_token }}
        <p>{{ sign_in_form.sign_user.label}}</p>
        <p>{{ sign_in_form.sign_user()}}</p>
        <p>{{ sign_in_form.sign_pass.label}}</p>
        <p>{{ sign_in_form.sign_pass()}}</p>
        {{ sign_in_form.sign_submit() }}
    </form>
</html>
